<!DOCTYPE HTML>
<html>
	<head>
		<title>德兴手机批发报价</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="../static/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="../static/assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<div id="page-wrapper">
			<!-- Header -->
				<header id="header">
					<h1><a href="index.html">德兴手机批发报价</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="index.html">主页</a></li>
							<li>
								<a href="items.html" class="icon fa-angle-down">智能机</a>
								<ul>
									<li><a href="items.html?brand=苹果">苹果</a></li>
									<li><a href="contact.html">三星</a></li>
									<li><a href="elements.html">华为</a></li>
								</ul>
							</li>
							<li>
								<a href="" class="icon fa-angle-down">平板</a>
								<ul>
									<li><a href="generic.html">苹果</a></li>
									<li><a href="contact.html">三星</a></li>
									<li><a href="elements.html">华为</a></li>
								</ul>
							</li>
							<li><a href="">联系我们</a></li>
							<li><a href="">关于</a></li>
							<!-- <li><a href="#" class="button">Sign Up</a></li> -->
						</ul>
					</nav>
				</header>

			<!-- Main -->
            <section id="main" class="container">
                <header>
                    <h2>联系我们</h2>
                </header>
                <ul>
                	<li>电话：</li>
					<li>微信：</li>
					<li>QQ:</li>
					<li>公众号：</li>
                </ul>
            </section>

		</div>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/jquery.dropotron.min.js"></script>
			<script src="../static/assets/js/jquery.scrollgress.min.js"></script>
			<script src="../static/assets/js/skel.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="../static/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>
