<!DOCTYPE HTML>
<html>
	<head>
		<title>德兴手机批发报价</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="../static/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="../static/assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<div id="page-wrapper">
			<!-- Header -->
			<header id="header">
				<h1><a href="index">德兴手机批发报价</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="index">主页</a></li>
						<li>
							<a href="smartphone" class="icon fa-angle-down">智能机</a>
							<ul>
								{% for brand in phone_brands %}
								<li><a href="smartphone?brand={{ brand }}">{{ brand }}</a></li>
								{% endfor %}
							</ul>
						</li>
						<li>
							<a href="tablets" class="icon fa-angle-down">平板</a>
							<ul>
								{% for brand in tablet_brands %}
								<li><a href="tablets?brand={{ brand }}">{{ brand }}</a></li>
								{% endfor %}
							</ul>
						</li>
						<li><a href="about">关于</a></li>
						<!-- <li><a href="#" class="button">Sign Up</a></li> -->
					</ul>
				</nav>
			</header>
			<section id="main" class="container">
					<header>
						<h2>德兴手机</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;——手机批发，一台起批
					</header>
					<div class="box" style="background:url(../static/images/background.png);color:white;">
						<h3 style="color:white;text-align:center;">公告</h3>
						<ul>
							{% for infor in announcements %}
							   <li>
    							  	{{ infor }}
    						   </li>
							{% endfor %}
						</ul>
					</div>
					<div class="">
						<div class="box">
							<form method="get" action="./search" class="navbar-form navbar-left" role="search">
                  				<div class="form-group">
                    				<input type="text" class="form-control" name="keyword" placeholder="Search">
                  				</div>
								<br>
                  				<button type="submit" class="button">搜索</button>
                			</form>
						</div>
						<div class="box">
							<h3>智能手机报价表</h3>
							<p>(点击型号查看详细报价及配置)</p>
							{% for brand in phones %}
								<h4>{{ brand.name }}<h4>
								<ul class="list-group">
										{% for phone in brand.items %}
										<li class="list-group-item"><a style="color:red" href="item?goodsNum={{ phone.goodsNum }}">{{ phone.goodsName }}</a></li>
										{% endfor %}
								</ul>
								<hr>
							{% endfor %}
						</div>
						<div class="box">
							<h3>平板电脑报价表</h3>
							{% for brand in tablets %}
								<h4>{{ brand.name }}<h4>
								<ul class="list-group">
										{% for tablet in brand.items %}
										<li class="list-group-item"><a style="color:red" href="item?goodsNum={{ tablet.goodsNum }}">{{ tablet.goodsName }}</a></li>
										{% endfor %}
								</ul>
								<hr>
							{% endfor %}
						</div>
					</div>
			</section>
		</div>
		<footer id="footer">
			<ul class="copyright">
				<li>&copy;All rights reserved.</li>
				<li>电话:18866177757</li>
				<li>地址:寿光石码路与圣城街北50米西</li>
			</ul>
		</footer>
		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/jquery.dropotron.min.js"></script>
			<script src="../static/assets/js/jquery.scrollgress.min.js"></script>
			<script src="../static/assets/js/skel.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="../static/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>
