<!DOCTYPE HTML>
<html>
	<head>
		<title>德兴手机批发报价</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="../static/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="../static/assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<div id="page-wrapper">
			<!-- Header -->
				<header id="header">
					<h1><a href="index.html">德兴手机批发报价</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="index.html">主页</a></li>
							<li>
								<a href="smartphone.html" class="icon fa-angle-down">智能机</a>
								<ul>
									{% for brand in phone_brands %}
									<li><a href="smartphone.html?brand={{ brand }}"></a>{{ brand }}</li>
									{% endfor %}
								</ul>
							</li>
							<li>
								<a href="tablets.html" class="icon fa-angle-down">平板</a>
								<ul>
									{% for brand in tablet_brands %}
									<li><a href="tablets.html?brand={{ brand }}"></a>{{ brand }}</li>
									{% endfor %}
								</ul>
							</li>
							<li><a href="">联系我们</a></li>
							<li><a href="about.html">关于</a></li>
							<!-- <li><a href="#" class="button">Sign Up</a></li> -->
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<section id="main" class="container">
                    <header>
						<h2>{brand}</h2>
					</header>
                    <div class="table-wrapper">
                        <table class="alt">
                            <thead>
                                <tr>
                                    <th>品牌</th>
                                    <th>名称</th>
                                    <th>价格</th>
                                    <th>详情</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Something</td>
                                    <td>Ante turpis integer aliquet porttitor.</td>
                                    <td>29.99</td>
                                    <td><a href="#">查看更多</a></td>
                                </tr>
                                <tr>
                                    <td>Nothing</td>
                                    <td>Vis ac commodo adipiscing arcu aliquet.</td>
                                    <td>19.99</td>
                                    <td><a href="#">查看更多</a></td>
                                </tr>
                                <tr>
                                    <td>Something</td>
                                    <td> Morbi faucibus arcu accumsan lorem.</td>
                                    <td>29.99</td>
                                    <td><a href="#">查看更多</a></td>
                                </tr>
                                <tr>
                                    <td>Nothing</td>
                                    <td>Vitae integer tempus condimentum.</td>
                                    <td>19.99</td>
                                    <td><a href="#">查看更多</a></td>
                                </tr>
                                <tr>
                                    <td>Something</td>
                                    <td>Ante turpis integer aliquet porttitor.</td>
                                    <td>29.99</td>
                                    <td><a href="#">查看更多</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
				</section>

		</div>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/jquery.dropotron.min.js"></script>
			<script src="../static/assets/js/jquery.scrollgress.min.js"></script>
			<script src="../static/assets/js/skel.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="../static/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>
