<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ title }}-德兴手机批发报价</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="../static/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="../static/assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<div id="page-wrapper">
			<!-- Header -->
				<header id="header">
					<h1><a href="index">德兴手机批发报价</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="index">主页</a></li>
							<li>
								<a href="smartphone" class="icon fa-angle-down">智能机</a>
								<ul>
									{% for brand in phone_brands %}
									<li><a href="smartphone?brand={{ brand }}">{{ brand }}</a></li>
									{% endfor %}
								</ul>
							</li>
							<li>
								<a href="tablets" class="icon fa-angle-down">平板</a>
								<ul>
									{% for brand in tablet_brands %}
									<li><a href="tablets?brand={{ brand }}">{{ brand }}</a></li>
									{% endfor %}
								</ul>
							</li>
							<li><a href="contact">联系我们</a></li>
							<li><a href="about">关于</a></li>
							<!-- <li><a href="#" class="button">Sign Up</a></li> -->
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<section id="main" class="container">
					<div class="box">
						<h4>{{ title }}</h4>
						<h3>配置</h3>
						<ul>
							{% for item in configuration %}
							<li>{{ item }}</li>
							{% endfor %}
						</ul>
					</div>
					<hr>
                    <div class="box">
						<h3>价格</h3>
                        <table>
                        <thead>
                            <tr>
                                <th>版本</th>
                                <th>制式</th>
                                <th>颜色</th>
                                <th>CPU</th>
								<th>
									内存
								</th>
								<th>
									价格
								</th>
                            </tr>
                        </thead>
                        <tbody>
							{% for item in products %}
                            <tr>
								{% for text in item %}
                                <td>{{ text }}</td>
                                {% endfor %}
                            </tr>
							{% endfor %}
                        </tbody>
                    </table>
                    </div>
					<hr>
					<div class="box">
						<h3>产品详情</h3>
						<span class="image fit">
							{% for img in des %}
							<img src="{{ img }}" alt="" />
							{% endfor %}
						</span>
					</div>
				</section>

		</div>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/jquery.dropotron.min.js"></script>
			<script src="../static/assets/js/jquery.scrollgress.min.js"></script>
			<script src="../static/assets/js/skel.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="../static/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>
